<script type="text/javascript">

    function drawChart() {
        
        var chartOptions = [
            {
                method: "BranchChartData",
                urlParams: {
                    companyId: 0,
                },
                mainManipulation: function(obj) {

                    var d = obj.data;
                    var massagedData = [];

                    massagedData.push([
                        "Branch",
                        "Current Year", { type: 'string', role: 'annotation' },
                        "Previous Year", { type: 'string', role: 'annotation' }
                    ]);

                    $("#companyName").html(d.CompanyName);

                    var totalMax = 0;

                    for (var j = 0; j < d.BranchRecords.length; j++) {

                        var branch = d.BranchRecords[j].BranchName;
                        var currYearVal = d.BranchRecords[j].CurrentYearRevenue;
                        var prevYearVal = d.BranchRecords[j].PreviousYearRevenue;

                        totalMax = Math.max(totalMax, currYearVal, prevYearVal);

                        var currAnnotation = null;
                        var prevAnnotation = null;
                        if (currYearVal > 0) {
                            currAnnotation = formatCurrencyValue(currYearVal);
                        }

                        if (prevYearVal > 0) {
                            prevAnnotation = formatCurrencyValue(prevYearVal);
                        }
                        massagedData.push([branch, currYearVal, currAnnotation, prevYearVal, prevAnnotation]);
                    }

                    var data = createDataTable(massagedData);
                    return {
                        dataTables: [data],
                        totalMax: totalMax,
                    }
                },
                postProcessing: function(obj) {
                    var dataTable = obj.dataTables[0];
                    formatCurrency(dataTable, 1);
                    formatCurrency(dataTable, 3);

                    var chartObj = {
                        chartType: "BarChart",
                        elementId: "bar_chart_div",
                        data: dataTable,
                        options: {
                            legend: { position: 'top' },
                            width: '100%',
                            height: '100%',
                            orientation: "horizontal",
                            vAxis: {
                                format: 'currency',
                                minValue: 0,
                                maxValue: obj.totalMax,
                            },
                            colors: ["blue", "red"],
                        },
                    }

                    return [chartObj];
                }
            }
        ];


        ConfigureCharts(chartOptions);
    }
</script>
@Html.Partial("_GoogleDependencies", new ViewDataDictionary { { "function", "drawChart" } })

<div class="row">
    <div class="col-md-12">
        <h3 id="companyName"></h3>
        <div class="chart_wrap">
            <div id="bar_chart_div" class="chart"></div>
        </div>
    </div>
</div>
