<script type="text/javascript">

    LoadGoogleCharts(drawChart);

    function drawChart() {

        var chartOptions = [
            {
                method: "DistrictChartData",
                urlParams: {
                    districtId: 0,
                    companyId: 0,
                    startDateTime: "2016-04-01",
                },
                mainManipulation: function (obj) {

                    var d = obj.data;

                    $("#companyName").html(d.Company.CompanyName);

                    var districtObj = d.District;
                    var companyObj = d.Company;

                    var districtData = [];
                    var companyData = [];

                    var totalMaxDistrict = 0;
                    var totalMaxCompany = 0;

                    districtData.push(["Timestamp", "Percent", "Revenue"]);
                    for (var j = 0; j < districtObj.Records.length; j++) {

                        var districtDate = new Date(districtObj.Records[j].Date);
                        var percent = districtObj.Records[j].PercentRevenue / 10;
                        var revenue = districtObj.Records[j].Revenue;

                        totalMaxDistrict = Math.max(totalMaxDistrict, revenue);

                        districtData.push([districtDate, percent, revenue]);
                    }

                    companyData.push(["Timestamp", "Revenue"]);
                    for (var j = 0; j < companyObj.CompanyRevenues.length; j++) {
                        var date = new Date(companyObj.CompanyRevenues[j].Date);
                        var companyRevenue = companyObj.CompanyRevenues[j].Revenue;

                        totalMaxCompany = Math.max(totalMaxCompany, companyRevenue);
                        companyData.push([date, companyRevenue]);
                    }

                    var comboData = createDataTable(districtData);
                    var lineData = createDataTable(companyData);
                    return {
                        dataTables: [comboData, lineData],
                        totalMaxDistrict: totalMaxDistrict,
                        totalMaxCompany: totalMaxCompany,

                    }
                },
                postProcessing: function (obj) {
                    var comboData = obj.dataTables[0];
                    var lineData = obj.dataTables[1];
                    var totalMaxDistrict = obj.totalMaxDistrict;
                    var totalMaxCompany = obj.totalMaxCompany;

                    var comboObj = {
                        chartType: "ComboChart",
                        elementId: "combo_chart_div",
                        data: comboData,
                        options: {
                            width: '100%',
                            height: '100%',
                            trendlines: {
                                0: {
                                    color: 'black',
                                    tooltip: false,
                                },
                                1: {
                                    color: 'black',
                                    tooltip: false,
                                },
                            },
                            title: 'District Chart',
                            vAxes: {
                                0: {
                                    title: 'Revenue',
                                    gridlines: { color: 'transparent' },
                                    format: "$#,#",
                                    ticks: [],
                                },
                                1: {
                                    title: 'Percent',
                                    gridlines: { color: 'transparent' },
                                    format: "percent",
                                    viewWindow: {
                                        max: .05,
                                        min: 0
                                    }

                                },
                            },
                            series: {
                                0: { targetAxisIndex: 1, type: "bars", },
                                1: { targetAxisIndex: 0 },
                            },
                            colors: ["red", "blue"],
                            hAxis: {
                                format: 'MMM yy',
                                showTextEvery: 1,
                                gridlines: { count: 24 }
                            },
                        },
                    }

                    var ticks = GetCurrencyTicks(totalMaxDistrict);
                    comboObj.options.vAxes["0"].ticks = ticks;

                    var dateFormat = 'MMM yy';

                    formatDate(comboData, 0, dateFormat);
                    formatDate(lineData, 0, dateFormat);

                    formatPercentage(comboData, 1);
                    formatCurrency(lineData, 1);

                    formatCurrency(comboData, 2);
                    
                    

                    var lineObj = {
                        chartType: "LineChart",
                        elementId: "line_chart_div",
                        data: lineData,
                        options: {
                            legend: { position: 'top' },
                            width: '100%',
                            height: '100%',
                            trendlines: {
                                0: {
                                    color: 'black',
                                    tooltip: false,
                                },
                            },
                            hAxis: {
                                format: 'MMM yy',
                                gridlines: { count: 24 }
                            },
                            vAxis: {
                                format: 'currency',
                            }
                        },
                    }

                    var companyTicks = GetCurrencyTicks(totalMaxCompany);
                    lineObj.options.vAxis.ticks = companyTicks;

                    return [comboObj, lineObj];
                }
            }
        ];
        ConfigureCharts(chartOptions);
    }


</script>

@Html.Partial("_GoogleDependencies", new ViewDataDictionary { { "function", "drawChart" } })

<div class="row">
    <div class="col-md-12">
        <h3>District Combo Chart</h3>
        <div class="chart_wrap">
            <div id="combo_chart_div" class="chart"></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3 id="companyName"></h3>
        <div class="chart_wrap">
            <div id="line_chart_div" class="chart"></div>
        </div>
    </div>
</div>
