<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="~/Scripts/GoogleHelpers.js"></script>
<script type="text/javascript">

    var comboObj = null;
    var lineObj = null;
    var lineDataVals = [];


    // Load the Visualization API and the corechart package.
    google.charts.load('current', { 'packages': ['corechart'] });

    // Set a callback to run when the Google Visualization API is loaded.
    google.charts.setOnLoadCallback(drawChart);


    function drawChart() {

        var callBack = function(d) {

            var massagedData = [];

            massagedData.push(["Index", "Percent", "Revenue"]);
            for (var j = 0; j < d[0].length;) {
                massagedData.push([j++, d[0][j], d[1][j]]);
            }

            var data = google.visualization.arrayToDataTable(massagedData);

            comboObj = {
                data: data,
                options:   {
                    width: '100%',
                    height: '100%',
                    //legend: { position: 'bottom' },
                    trendlines: {
                        0: {
                            color: 'red',
                            tooltip: false,
                        },
                        1: {
                            color: 'black',
                            tooltip: false,
                        },
                    },
                    title: 'District Chart',
                    vAxes: {
                        0: {
                            title: 'Revenue',
                            gridlines: { color: 'transparent' },
                            format: "$#,#",
                            ticks: [{v: 0, f: '$0'},
                                    {v: 500000, f: '$500k'},
                                    {v: 1000000, f: '$1M'},
                                    {v: 1500000, f: '$1.5M'},
                                    {v: 2000000, f: '$2M'},
                                    {v: 2500000, f: '$2.5M'},
                                    {v: 3000000, f: '$3M'},
                                    {v: 3500000, f: '$3.5M'},
                                    {v: 4000000, f: '$4M'},
                                    {v: 4500000, f: '$4.5M'},
                                    {v: 5000000, f: '$5M'}]
                        },
                        1: {
                            title: 'Percent',
                            gridlines: { color: 'transparent' },
                            format: "percent",
                            viewWindow: {
                                max:.05,
                                min: 0
                            }
                
                        },
                    },
                    series: {
                        0: { targetAxisIndex: 1, type: "bars", },
                        1: { targetAxisIndex: 0 },
                    },
                    colors: ["red", "blue"],
                    hAxis: {
                        showTextEvery: 1,
                        gridlines: { count: 24 }
                    },
                },
            }

            comboObj.chart = new google.visualization.ComboChart(document.getElementById("combo_chart_div"));

            drawChartHelper(comboObj);

            $(window).resize(function () {
                drawChartHelper(comboObj);
            });
        };

        InitializePage('MidwestData', callBack, 0);

        var callBackTwo = function (d) {

            var massagedData = [];

            massagedData.push([ "Timestamp",  "Revenue"]);
            for (var j = 0; j < d[0].length; j++) {
                var date = new Date(d[0][j]);
                massagedData.push([ date, d[1][j]]);
            }

            var data = google.visualization.arrayToDataTable(massagedData);

            var date_formatter = new google.visualization.DateFormat({
                pattern: "MMM yy"
            });

            date_formatter.format(data, 0);

            var currencyFormatter = new google.visualization.NumberFormat(
                {
                    negativeColor: 'red',
                    negativeParens: true,
                    pattern: '$###,###'
                });
            currencyFormatter.format(data, 1),

            lineObj = {
                data: data,
                options: {
                    legend: { position: 'top' },
                    width: '100%',
                    height: '100%',
                    trendlines: {
                        0: {
                            color: 'black',
                            tooltip: false,
                        },
                    },
                    hAxis: {
                        format: 'MMM yy',
                        gridlines: { count: 24 }
                    },
                    vAxis:{
                    format:'currency',
                }
                },
            }

            lineObj.chart = new google.visualization.LineChart(document.getElementById("line_chart_div"));

            drawChartHelper(lineObj);

            $(window).resize(function () {
                drawChartHelper(lineObj);
            });
        };

        InitializePage('MidwestData', callBackTwo, 1);
        }
</script>


<div class="row">
    <div class="col-md-6">
        <h3>District Combo Chart</h3>
        <div class="chart_wrap">
            <div id="combo_chart_div" class="chart"></div>
        </div>
    </div>
    <div class="col-md-6">
        <h3>District Line Chart</h3>
        <div class="chart_wrap">
            <div id="line_chart_div" class="chart"></div>
        </div>
    </div>
</div>
