@{
    ViewBag.Title = "Purchase Fluctuation";
}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="~/Scripts/GoogleHelpers.js"></script>
<script type="text/javascript">

    var barChart = null;
    var lineChart = null;
    var lineYearChart = null;
    var lineDataVals = [];
    var lineYearDataVals = [];

    // Load the Visualization API and the corechart package.
    google.charts.load('current', { 'packages': ['corechart'] });

    // Set a callback to run when the Google Visualization API is loaded.
    google.charts.setOnLoadCallback(drawChart);

    // Callback that creates and populates a data table,
    // instantiates the pie chart, passes in the data and
    // draws it.
    function drawChart() {


        var data = new google.visualization.DataTable();

        // Set chart options
        var lineOptions = {
            'title': 'Declining Sales',
            'width': 500,
            'height': 500,
            legend: { position: 'bottom' },
            hAxis: {
                title: 'Months',
                slantedText: true,
                slantedTextAngle: 45,
                textStyle: {
                    fontSize: 10
                },
                format: 'MMMM'
            },
        };

        // Set chart options
        var barOptions = {
            isStacked: true,
            orientation: "horizontal",
        }

        barOptions = merge_options(barOptions, lineOptions);
        
        //var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
        
        data.addColumn('date', 'Month');
        data.addColumn('number', 'Value');

        var today = new Date();

        for (var i = 0; i < 12; i++) {

            var monthDate = new Date(today.getFullYear(), i + 1, 1);

            lineDataVals.push([monthDate, randomData()]);
        }

        data.addRows(lineDataVals);
        var dateFormatter = new google.visualization.NumberFormat({
            pattern: 'MMMM'
        });
        dateFormatter.format(data, 0);

        lineChart = configureChart(lineChart, 'line_chart_div', 'LineChart', data, lineOptions, 'updateLineChart', function (chart) { randomizePointOnChart(chart, data, lineOptions, 100); });
        
        barChart = configureChart(barChart, 'bar_chart_div', 'BarChart', data, barOptions, 'updateBarChart', function (chart) { randomizePointOnChart(chart, data, barOptions, 100); });

        $("#toggleTrendLines").click(function(e) {
            e.preventDefault();
            toggleTrendLines(lineChart, data, lineOptions);
            toggleTrendLines(barChart, data,barOptions);
        });
        
    }

    function toggleTrendLines(chart, data, options) {

        if (options.trendlines != null) {
            options.trendlines = null;
        } else {
            options.trendlines = {
                0: {
                    color: 'black',
                }
            };
        }

        chart.draw(data, options);
    }

</script>



<div class="row">
    <div class="col-md-2">
        <h3>Actions</h3>
        <a class="btn" id="toggleTrendLines">Toggle Trendlines</a>
    </div>
    <div class="col-md-5">
        <h3>Line Chart - fluctuations over a 12-month period</h3>
        <div id="line_chart_div"></div>
        <a class="btn" id="updateLineChart">Update</a>
    </div>
    <div class="col-md-5">
        <h3>Bar Chart - fluctuations over a 12-month period</h3>
        <div id="bar_chart_div"></div>
        <a class="btn" id="updateBarChart">Update</a>
    </div>
</div>