@{
    ViewBag.Title = "Purchase Fluctuation";
}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="~/Scripts/GoogleHelpers.js"></script>
<script type="text/javascript">

    var barChart = null;
    var lineChart = null;
    var lineYearChart = null;
    var lineDataVals = [];
    var lineYearDataVals = [];

    // Load the Visualization API and the corechart package.
    google.charts.load('current', { 'packages': ['corechart'] });

    // Set a callback to run when the Google Visualization API is loaded.
    google.charts.setOnLoadCallback(drawChart);

    // Callback that creates and populates a data table,
    // instantiates the pie chart, passes in the data and
    // draws it.
    function drawChart() {


        var data = new google.visualization.DataTable();

        // Set chart options
        var lineOptions = {
            'title': 'Fluctuations over a 12-month period',
            width: '100%',
            height: '100%',
            //legend: { position: 'bottom' },
            hAxis: {
                //slantedText: true,
                //slantedTextAngle: 45,
                title: 'Month',
                showTextEvery: 1,
                trendlines: {
                    0: {
                        color: 'black',
                    }
                },
                ticks: [{
                    v: 0,
                    f: 'Jan'
                }, {
                    v: 1,
                    f: 'Feb'
                }, {
                    v: 2,
                    f: 'Mar'
                }, {
                    v: 3,
                    f: 'Apr'
                }, {
                    v: 4,
                    f: 'May'
                }, {
                    v: 5,
                    f: 'Jun'
                }, {
                    v: 6,
                    f: 'Jul'
                }, {
                    v: 7,
                    f: 'Aug'
                }, {
                    v: 8,
                    f: 'Sep'
                }, {
                    v: 9,
                    f: 'Oct'
                }, {
                    v: 10,
                    f: 'Nov'
                }, {
                    v: 11,
                    f: 'Dec'
                }]
            }
        };

        // Set chart options
        var barOptions = {
            isStacked: true,
            orientation: "horizontal",
        }

        data.addColumn('number', 'Date');
        data.addColumn('number', 'Value');

        data.addColumn({ type: 'string', role: 'tooltip' });
        //data.addColumn({ type: 'string', role: 'tooltip' });

        var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
        //var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];

        var today = new Date();
        var dateTicks = [];
        for (var i = 0; i < 12; i++) {

            var monthDate = new Date(today.getFullYear(), i, 1);
            dateTicks.push(monthDate);

            var val = randomData();

            var tooltip = months[i] + ": " + val;

            lineDataVals.push([{ v: i, f: i.toString() }, val, tooltip]);
        }

        data.addRows(lineDataVals);

        barOptions = merge_options(barOptions, lineOptions);

        lineChart = configureChart(lineChart, 'line_chart_div', 'LineChart', data, lineOptions, 'updateLineChart', function (chart) { randomizePointOnChart(chart, data, lineOptions, 100); });

        barChart = configureChart(barChart, 'bar_chart_div', 'BarChart', data, barOptions, 'updateBarChart', function (chart) { randomizePointOnChart(chart, data, barOptions, 100); });



    }

    function getmon(dataTable, rowNum) {
        var rd = dataTable.getValue(rowNum, 0);
        var rm = rd.getMonth();
        return {
            v: rm
        };
    }

</script>

<div class="row">
    <div class="col-md-12">
        <h1>Google Charts - Purchase Fluctuation</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Line Chart</h3>
        <div class="chart_wrap">
            <div id="line_chart_div" class="chart"></div>
        </div>
        <a class="btn" id="updateLineChart">Update</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Bar Chart</h3>
        <div class="chart_wrap">
            <div id="bar_chart_div" class="chart"></div>
        </div>
        <a class="btn" id="updateBarChart">Update</a>
    </div>
</div>